Exercises 1 - 12, evaluate the numeric expression

In [2]:
# 1
print(3 * 4)

12

In [1]:
# 2
print(7 ** 2)

49

In [3]:
# 3
print(1 / (2 ** 3))

0.125

In [4]:
# 4
print(3 + (4 * 5))

23

In [5]:
# 5
print((5 -3) * 4)

8

In [6]:
# 6
print(3 * ((-2) ** 5))

-96

In [7]:
# 7
print(7 // 3)

2

In [8]:
# 8
print(14 % 4)

2

In [9]:
# 9
print(7 % 3)

1

In [10]:
# 10
print(14 // 4)

3

In [11]:
# 11
print(5 // 5)

1

In [12]:
# 12
print(5 % 5)

0

Exercises 19 - 24, evaluate the numeric expression where a = 2, b = 3, and c = 4

In [13]:
a = 2
b = 3
c = 4

In [15]:
# 19
print((a * b) + c)

10

In [16]:
# 20
print(a * (b + c))

14

In [17]:
# 21
print((1 + b) * c)

16

In [18]:
# 22
print(a ** c)

16

In [19]:
# 23
print(b ** (c - a))

9

In [20]:
# 24
print((c - a) ** b)

8

Exercises 25 - 30, write lines of code to calculate and display the values

In [21]:
# 25
print((7 * 8) + 5)

61

In [22]:
# 26
print((1 + (2 * 9)) ** 3)

6859

In [24]:
# 27
print(.055 * 20)

1.1

In [26]:
# 28
print(15 - (3 * (2 + (3 ** 4))))

-234

In [27]:
# 29
print(17 * (3 + 162))

2805

In [28]:
#30
print((4 * (1 / 2)) - (3 * (5 / 8)))

0.125

Exercises 33 - 38, determine the output displayed by the lines of code

In [29]:
# 33
a = 4
b = 5 * a

print(a + b)

24

In [30]:
# 34
n = 7
n += 1
print(1, n, n + 1)

1 8 9

In [31]:
# 35
num = 5
num *= 2

print(num)

10

In [32]:
# 36
tax = 200
tax = 25 + tax

print(tax)

225

In [33]:
# 37
totalMinutes = 135
hours = totalMinutes // 60
minutes = totalMinutes % 60

print(hours, minutes)

2 15

In [34]:
# 38
totalOunces = 90
pounds = totalOunces // 16
ounces = totalOunces % 16

print(pounds, ounces)

5 10

Exercises 43 - 48, find the value of the function

In [35]:
# 43
print(int(10.75))

10

In [36]:
# 44
print(int(9 - 2))

7

In [37]:
# 45
print(abs(3 - 10))

7

In [38]:
# 46
print(abs(10 ** (-3)))

0.001

In [39]:
# 47
print(round(3.1279, 3))

3.128

In [40]:
# 48
print(round(-2.6))

-3

Exercises 49 - 54, find the value of the function where a = 5 and b = 3

In [41]:
a = 5
b = 3

In [42]:
# 49
print(int(-a / 2))

-2

In [43]:
# 50
print(round(a / b))

2

In [44]:
# 51
print(abs(a - 5))

0

In [46]:
# 52
print(abs(4 - a))

1

In [47]:
# 53
print(round(a + .5))

6

In [48]:
# 54
print(int(b * 0.5))

1

Exercises 55 - 60, rewrite the statements using augmented assignment operators

# 55
cost = cost + 5
cost += 5

# 56
sum = sum * 2
sum *= 2

# 57
cost = cost / 6
cost /= 6

# 58
sum = sum - 7
sum -= 7

# 59
sum = sum % 2
sum %= 2

# 60
cost = cost // 3
cost //= 3

Exercises 61 - 68, write a program that has one line of code for each step

In [50]:
# 61 - Calculate Profit
revenue = 98456
costs = 45000
profit = revenue - costs

print(profit)

53456

In [51]:
# 62 - Stock Purchase
costPerShare = 25.625
numberOfShares = 400
amount = costPerShare * numberOfShares

print(amount)

10250.0

In [52]:
# 63 - Discount Price
price = 19.95
discountPercent = 30
markdown = (discountPercent / 100) * price
price -= markdown

print(round(price, 2))

13.96

In [53]:
# 64 - Break-Even Point
fixedCosts = 5000
pricePerUnit = 8
costPerUnit = 6
breakEvenPoint = fixedCosts / (pricePerUnit - costPerUnit)

print(breakEvenPoint)

2500.0

In [56]:
# 65 - Savings Account
balance = 100
balance += 0.05 * balance
balance += 0.05 * balance
balance += 0.05 * balance

print(round(balance, 2))

115.76

In [57]:
# 66 - Savings Account
balance = 100
balance += (0.05 * balance) + 100
balance += (0.05 * balance) + 100
balance += 0.05 * balance

print(round(balance, 2))

331.01

In [61]:
# 67 - Savings Account
balance = 100
balance *= 1.05 ** 10

print(round(balance, 2))

162.89

In [63]:
# 68 - Profit from Stock
purchasePrice = 10
sellingPrice = 15
percentProfit = 100 * ((sellingPrice - purchasePrice) / purchasePrice)

print(percentProfit)

50.0

Exercises 69 - 78, write a program to solve the problem and display the answer. The program should use variables for each of the quantitites.

In [66]:
# 69 - Corn Production
tonsPerAcre = 18
acres = 30
tonsOfCorn = tonsPerAcre * acres

print(tonsOfCorn)

540

In [67]:
# 70 - Projectile Motion
velocity = 50
height = 5
time = 3
ballLocation = ((-16) * (time ** 2)) + (velocity * time) + height

print(ballLocation)

11

In [68]:
# 71 - Average Speed
DC = 2
NY = 7
miles = 233
hours = NY - DC
mph = miles / hours

print(mph)

46.6

In [69]:
# 72 - Gas Mileage
initialMileage = 23352
endMileage = 23695
gallons = 14
totalMileage = endMileage - initialMileage
milesPerGallon = totalMileage / gallons

print(milesPerGallon)

24.5

In [70]:
# 73 - Water Usage
averageWater = 1600
year = 365
population = 315000000
waterPerPerson = averageWater * year
totalWaterUsage = waterPerPerson * population

print(totalWaterUsage)

183960000000000

In [72]:
# 74 - Pizza
slicesPerSecond = 350
secondsPerDay = 60 * 60 * 24
totalSlicesPerDay = slicesPerSecond * secondsPerDay

print(totalSlicesPerDay)

30240000

In [77]:
# 75 - Restaurants
pizzerias = 70000
percentagePizzerias = .12
totalRestaurants = pizzerias / percentagePizzerias

print(round(totalRestaurants))

583333

In [79]:
# 76 - Population Growth
population2000 = 281000000
population2050 = 404000000
growth = ((population2050 - population2000) / population2000) * 100

print(round(growth, 2))

43.77

In [81]:
# 77 - U.S. National Debt
debt = 1.61 * (10 ** 13)
population = 3.1588 * (10 ** 8)
perCapita = debt / population

print(round(perCapita))

50969

In [82]:
# 78 - Calories
perCubicFoot = 48600
totalCubicFeet = 5280 ** 3
totalCalories = perCubicFoot * totalCubicFeet

print(totalCalories)

7153820467200000