Exercises 1 - 48, the list states contains the names of the fifty U.S. states in the order they joined the union, and determine the output displayed by the lines of code.

In [16]:
# States list
states = ["Delaware", "Pennsylvania", "New Jersey", "Georgia", "Connecticut", "Massachusetts", "Maryland", "South Carolina", "New Hampshire", "Virginia", "New York", "North Carolina", "Rhode Island", "Vermont", "Kentucky", "Tennessee", "Ohio", "Louisiana", "Indiana", "Mississippi", "Illinois", "Alabama", "Maine", "Missouri", "Arkansas", "Michigan", "Florida", "Texas", "Iowa", "Wisconsin", "California", "Minnesota", "Oregon", "Kansas", "West Virginia", "Nevada", "Nebraska", "Colorado", "North Dakota", "South Dakota", "Montana", "Washington", "Idaho", "Wyoming", "Utah", "Oklahoma", "New Mexico", "Arizona", "Alaska", "Hawaii"]

In [17]:
# 1
print(states[1], states[-1])

Pennsylvania Hawaii

In [18]:
# 2
print(states[2], states[-2])

New Jersey Alaska

In [19]:
# 3
print(states[48], states[49])

Alaska Hawaii

In [21]:
# 4
print(len(states))

50

In [22]:
# 5
print(states[0], states[-50])

Delaware Delaware

In [24]:
# 6
print(states.index("Delaware"))

0

In [25]:
# 7
print(states.index("Alaska"))

48

In [26]:
# 8
print(states.index(states[22]))

22

In [27]:
# 9
print(states[states.index("Ohio")])

Ohio

In [28]:
# 10
print(states[len(states) - 1], states[-1])

Hawaii Hawaii

In [29]:
# 11
states[0] = states[0].upper()
print(states[0])

DELAWARE

In [30]:
# 12
states.append("Puerto Rico")
print(states[50])

Puerto Rico

In [31]:
# 13
states.append(["Puerto Rico"])
print(states[50])

Puerto Rico

In [32]:
# 14
del states [2]
print(states[2])

Georgia

In [33]:
# 15
states.insert(0, "United States")
print(states[0])

United States

In [34]:
# 16
del states [22]
print(states.index("Hawaii"))

48

In [35]:
# 17
print(states[2:5])

['Pennsylvania', 'Georgia', 'Connecticut']

In [36]:
# 18
print(states[-4:-1])

['Alaska', 'Hawaii', 'Puerto Rico']

In [37]:
# 19
print(states[-5:-2])

['Arizona', 'Alaska', 'Hawaii']

In [38]:
# 20
print(states[-4:-1])

['Alaska', 'Hawaii', 'Puerto Rico']

In [39]:
# 21
print(states[:4])

['United States', 'DELAWARE', 'Pennsylvania', 'Georgia']

In [40]:
# 22
print(states[:1])

['United States']

In [41]:
# 23
print(states[-3:])

['Hawaii', 'Puerto Rico', ['Puerto Rico']]

In [42]:
# 24
print(states[-2:])

['Puerto Rico', ['Puerto Rico']]

In [43]:
# 25
print(states[3:3])

[]

In [44]:
# 26
print(states[-1:-4])

[]

In [45]:
# 27
print(states[1:10][2])

Georgia

In [46]:
# 28
print(states[-12:][-3])

Hawaii

In [47]:
# 29
print(states[-2:len(states)])

['Puerto Rico', ['Puerto Rico']]

In [48]:
# 30
print(states[:][5])

Massachusetts

In [49]:
# 31
print(states[:][-4])

Alaska

In [50]:
# 32
print(states[:][2])

Pennsylvania

In [51]:
# 33
print(len(states[10:20]))

10

In [52]:
# 34
print(len(states[-30]))

7

In [53]:
# 35
print(len([]))

0

In [54]:
# 36
print(len(states[:]))

51

In [55]:
# 37
print(len(states[1:-1]))

49

In [56]:
# 38
print(len(states[2:-2]))

47

In [57]:
# 39
states.extend(["Puerto Rico", "Guam"])
print(states[-3:])

[['Puerto Rico'], 'Puerto Rico', 'Guam']

In [58]:
# 40
states.append(["Puerto Rico", "Guam"])
print(states[-3:])

['Puerto Rico', 'Guam', ['Puerto Rico', 'Guam']]

In [59]:
# 41
states += ["Puerto Rico", "Guam"]
print(states[-3:])

[['Puerto Rico', 'Guam'], 'Puerto Rico', 'Guam']

In [60]:
# 42
del states [-2]
states.insert(-1, "Seward's Folly")
print(states[-3:])

[['Puerto Rico', 'Guam'], "Seward's Folly", 'Guam']

In [61]:
# 43
states[1] = "Commonwealth of Pennsylvania"
print(states[:3])

['United States', 'Commonwealth of Pennsylvania', 'Pennsylvania']

In [62]:
# 44
del states [1]
states.insert(1, "Commonwealth of Pennsylvania")
print(states[:3])

['United States', 'Commonwealth of Pennsylvania', 'Pennsylvania']

In [63]:
# 45
print(states[-4].split())
print(states[2].split())

['Guam']
['Pennsylvania']

In [70]:
# 46
list2 = states[2].split() + states[-4].split()
list2.remove("Guam")
print(list2)

['Pennsylvania']

In [71]:
# 47
print((',').join(states[1:4]))

Commonwealth of Pennsylvania,Pennsylvania,Georgia

In [74]:
# 48
print((',').join(states[-2:]))

Seward's Folly,Guam

Exercises 55 -58, determine the output displayed by the line of code.

In [75]:
# nums list
nums = [6, 2, 8, 0]

In [76]:
# 55
print("Largest Number: ", max(nums))

Largest Number:  8

In [77]:
# 56
print("Length: ", len(nums))

Length:  4

In [78]:
# 57
print("Total: ", sum(nums))

Total:  16

In [80]:
# 58
print("Number lot", sum(nums), list(nums))

Number lot 16 [6, 2, 8, 0]

Exercises 59 - 73, determine the output displayed by the lines of code.

In [83]:
# 59
L = ["sentence", "containes", "five", "words"]
L.insert(0, "This")
print(" ".join (L))
del L[3]
L.insert(3, "six")
L.insert(4, "different")
print(" ".join (L))

This sentence containes five words
This sentence containes six different words

In [84]:
# 60
L = ["one", "for", "all"]
L[0], L[-1], = L[-1], L[0]
print(L)

['all', 'for', 'one']

In [86]:
# 61
name = input("Enter name with two parts: ")
L = name.split()
print("{0:s}, {1:s}".format(L[1], L[0]))

Babbage, Charles

In [89]:
# 62
name = input("Enter name with three parts: ")
L = name.split()
print(L[0], L[2])

John Doe

In [91]:
# 63
name = input("Enter name with three parts: ")
L = name.split()
print("Middle Name:", L[1])

Middle Name: James

In [92]:
# 64
list1 = ['h', 'o', 'n', 'P', 'y', 't']
list2 = list1[3:] + list1 [:3]
print(("").join(list2))

Python

In [93]:
# 65
tuple1 = ("course", "of", "human", "events", "When", "in", "the")
tuple2 = tuple1[4:] + tuple1[:4]
print((" ".join(tuple2)))

When in the course of human events

In [94]:
# 66
list1 = ["is", "less", "more."]
list1[0], list1[1] = list1[1], list1[0]
print(" ".join(list1))

less is more.

In [96]:
# 67
headEditor = ["editor", "in", "chief"]
print(('-').join(headEditor))

editor-in-chief

In [97]:
# 68
carousel = ["merry", "go", "round"]
print(('-'.join(carousel)))

merry-go-round

In [98]:
#69
motto = ["e", "pluribus", "unum"]
print(('**').join(motto))

e**pluribus**unum

In [99]:
# 70
allDay = "around-the-clock"
print(allDay.split('-'))

['around', 'the', 'clock']

In [101]:
# 71
state = "New York,NY,Empire State,Albany"
stateFacts = state.split(',')
print(stateFacts)

['New York', 'NY', 'Empire State', 'Albany']

In [103]:
# 72
nations = "France\nEngland\nSpain"
countries = nations.split()
print(countries)

['France', 'England', 'Spain']

In [104]:
# 73
nations = "France\nEngland\nSpain\n"
countries = nations.split()
print(countries)

['France', 'England', 'Spain']

Exercises 78 - 94, determine the output displayed by the lines of code.

In [105]:
# 78
nums = (6, 2, 8, 0)
print("Largest Number:", max(nums))
print("Length:", len(nums))
print("Total:", sum(nums))
print("Number List:", list(nums))

Largest Number: 8
Length: 4
Total: 16
Number List: [6, 2, 8, 0]

In [108]:
# 79
phoneNumber = "9876543219"
list1 = list(phoneNumber)
list1.insert(3, '-')
list1.insert(7, '-')
phoneNumber = "".join(list1)
print(phoneNumber)

987-654-3219

In [109]:
# 80
word = "diary"
list1 = list(word)
list1.insert(3, list1[1])
del list1[1]
word = "".join(list1)
print(word)

dairy

In [110]:
# 81
nums = (3, 9, 6)
print(list(nums))

[3, 9, 6]

In [111]:
# 82
nums = [-5, 17, 123]
print(tuple(nums))

(-5, 17, 123)

In [112]:
# 83
word = "etch"
L = list(word)
L[1] = "a"
print("".join(L))

each

In [113]:
# 84
t = (1, 2, 3)
t = (0,) + t[1:]
print(t)

(0, 2, 3)

In [114]:
# 85
list1 = ["soprano", "tenor"]
list2 = ["alto", "bass"]
list1.extend(list2)
print(list1)

['soprano', 'tenor', 'alto', 'bass']

In [115]:
# 86
list1 = ["saprano", "tenor"]
list2 = ["alto", "bass"]
print(list1 + list2)

['saprano', 'tenor', 'alto', 'bass']

In [116]:
# 87
list1 = ["gold"]
list2 = ["silver", "bronze"]
print(list1 + list2)

['gold', 'silver', 'bronze']

In [117]:
# 88
list1 = ["gold"]
list2 = ["silver", "bronze"]
list1.extend(list2)
print(list1)

['gold', 'silver', 'bronze']

In [118]:
# 89
list1 = ["mur"] * 2
print("".join(list1))

murmur

In [119]:
# 90
list1 = [0]
print(list1 * 4)

[0, 0, 0, 0]

In [120]:
# 91
t = ("Dopey", "Sleepy", "Doc", "Grumpy", "Happy", "Sneezy", "Bashful")
print(t[4:20])

('Happy', 'Sneezy', 'Bashful')

In [121]:
# 92
ships = ["Nina", "Pinta", "Santa Maria"]
print(ships[-5:2])

['Nina', 'Pinta']

In [124]:
# 93
answer = ["Yes!", "No!", "Yes!", "No!", "Maybe."]
num = answer.index("No!")
print(num)

1

In [125]:
# 94
numbers = (3, 5, 7, 7, 3)
location = numbers.index(7)
print(location)

2

Exercises 101 - 104, write a program to solve the problem.

In [129]:
# 101 - Analyze Sentence
sentence = input("Enter a sentence: ")
num = sentence.split(" ")
num = len(num)

print("Number of words:", num)

Number of words: 4

In [131]:
# 102 - Analyze a Sentence
sentence = input("Enter a sentence: ")
words = sentence.split(" ")

print("First word:", words[0])
print("Last word:", words[-1])

First word: Reach
Last word: stars.

In [136]:
# 103 - Name
name = input("Enter a 2-part name: ")
revised = name.split()

print("Revised form: {0:s}, {1:s}".format(revised[1], revised[0]))

Revised form: Doe, John

In [139]:
# 104 - Name
name = input("Enter a 3-part name: ")
revised = name.split()

print("Middle name:", revised[1])

Middle name: Andrew