Exercises 1 - 50, determine the output displayed by the lines of code.

In [1]:
# 1
print("Bon", " Voyage", '!', sep="")

Bon Voyage!

In [2]:
# 2
print("Price: ", '$', 23.45, sep="")

Price: $23.45

In [3]:
# 3
print("Portion: ", 90, '%', sep="")

Portion: 90%

In [4]:
# 4
print("Py", "th", "on", sep="")

Python

In [5]:
# 5
print(1, 2, 3, sep=" x ")

1 x 2 x 3

In [6]:
# 6
print("tic", "tac", "toe", sep='-')

tic-tac-toe

In [7]:
# 7
print("father", "in", "law", sep='-')

father-in-law

In [8]:
# 8
print("one", " two", " three", sep=',')

one, two, three

In [9]:
# 9
print('T', end='-')
print("thon")

T-thon

In [10]:
# 10
print("spam", end=" and ")
print("eggs")

spam and eggs

In [11]:
# 11
print("Py", end="")
print("thon")

Python

In [13]:
# 12
print("on", "site", sep='-', end=" ")
print("repair")

on-site repair

In [14]:
# 13
print("Hello\n")
print("World!")

Hello

World!

In [15]:
# 14
print("Hello\n", end="")
print("World!")

Hello
World!

In [16]:
# 15
print("One\tTwo\nThree\tFour")

One	Two
Three	Four

In [17]:
# 16
print("1\t2\t3")
print("Detroit\tLions")
print("Indianapolis\tColts")

1	2	3
Detroit	Lions
Indianapolis	Colts

In [18]:
# 17
print("NUMBER\tSQUARE")
print(str(2) + "\t" + str(2 ** 2))
print(str(3) + "\t" + str(3 ** 2))

NUMBER	SQUARE
2	4
3	9

In [19]:
# 18
print("COUNTRY\t", "LAND AREA")
print("India\t", 2.5, "million sq km")
print("China\t", 9.6, "million sq km")

COUNTRY	 LAND AREA
India	 2.5 million sq km
China	 9.6 million sq km

In [20]:
# 19
print("Hello\t\tWorld!")
print("Hello\tWorld!".expandtabs(16))

Hello		World!
Hello           World!

In [22]:
# 20
print("STATE\tCAPITAL".expandtabs(15))
print("North Dakota\tBismarck".expandtabs(15))
print("South Dakota\tPierre".expandtabs(15))

STATE          CAPITAL
North Dakota   Bismarck
South Dakota   Pierre

In [23]:
# 21
print("01234567890")
print("A".rjust(5), "B".center(5), "C".ljust(5), sep="")

01234567890
    A  B  C

In [26]:
# 22
print("0123456789012345")
print("one".center(7), "two".ljust(4), "three".rjust(6), sep="")

0123456789012345
  one  two  three

In [27]:
# 23
print("01234567890123456")
print("{0:^7s}{1:4s}{2:5s}".format("one", "two", "three"))

01234567890123456
  one  two three

In [29]:
# 24
print("01234567890")
print("{0:>5s}{1:^5s}{2:5s}".format("A", "B", "C"))

01234567890
    A  B  C

In [31]:
# 25
print("0123456789")
print("{0:10.2%}".format(.123))
print("{0:^10.1%}".format(1.23))
print("{0:<10,.2%}".format(12.3))

0123456789
    12.30%
  123.0%
1,230.00%

In [32]:
# 26
print("0123456789")
print("{0:10,d}".format(1234))
print("{0:^10,d}".format(1234))
print("{0:<10,d}".format(1234))

0123456789
     1,234
  1,234
1,234

In [33]:
# 27
print("${0:,.2f}".format(1234.567))

$1,234.57

In [34]:
# 28
print("${0:,.0f}".format(1234.567))

$1,235

In [35]:
# 29
print("{0:,.0f}".format(1.234))

1

In [36]:
# 30
print("${0:,.2f}".format(1234))

$1,234.00

In [42]:
# 31
print("{0:10s}{1:^16s}{2:s}".format("Language", "Native speakers", "% of World Pop."))
print("{0:10s}{1:^16,d}{2:10.2%}".format("Mandarin", 935000000,.141))
print("{0:10s}{1:^16,d}{2:10.2%}".format("Spanish", 387000000, .0585))
print("{0:10s}{1:^16,d}{2:10.2%}".format("English", 365000000, .0552))

Language  Native speakers % of World Pop.
Mandarin    935,000,000       14.10%
Spanish     387,000,000        5.85%
English     365,000,000        5.52%

In [45]:
# 32
print("{0:14s}{1:s}".format("Major", "Percent of Students"))
print("{0:14s}{1:^10.1%}".format("Biology", .062))
print("{0:14s}{1:^10.1%}".format("Psychology", .054))
print("{0:14s}{1:^10.1%}".format("Nursing", .047))

Major         Percent of Students
Biology          6.2%
Psychology       5.4%
Nursing          4.7%

In [46]:
# 33
print("Be {0:s} - {1:s} else is taken.".format("yourself", "everyone"))

Be yourself - everyone else is taken.

In [47]:
# 34
print("Plan {0:s}, code {1:s}.".format("first", "later"))

Plan first, code later.

In [49]:
# 35
print("Always {0:s} on the bright side of {1:s}.".format("look", "life"))

Always look on the bright side of life.

In [50]:
# 36
print("And now for {0:s} completely {1:s}.".format("something", "different"))

And now for something completely different.

In [52]:
# 37
x = 3
y = 4
print("The product of {0:d} and {1:d} is {2:d}.".format(x, y, x * y))

The product of 3 and 4 is 12.

In [55]:
# 38
str1 = "The chances of winning the {0:s} are 1 in {1:,d}."
print(str1.format("Powerball Lottery", 175223510))

The chances of winning the Powerball Lottery are 1 in 175,223,510.

In [56]:
# 39
x = 2
print("The square root of {0:n} is about {1:.4f}.".format(x, x ** .5))

The square root of 2 is about 1.4142.

In [57]:
# 40
pi = 3.14159265898
print("pi is approximately {0:.5f}.".format(pi))

pi is approximately 3.14159.

In [58]:
# 41
str1 = "In a randomly selected group of {0:d} people, the " + \
    "probability\nis {1:.2f} that 2 people have the same birthday."
print(str1.format(23, .507397))

In a randomly selected group of 23 people, the probability
is 0.51 that 2 people have the same birthday.

In [59]:
# 42
areaOfAlaska = 663267
costOfAlaska = 7200000
str1 = "The cost of Alaska was about ${0:.2f} per square mile."
print(str1.format(costOfAlaska / areaOfAlaska))

The cost of Alaska was about $10.86 per square mile.

In [62]:
# 43
str1 = "You miss {0:.0%} of the shots you never take. Wayne Gretsky"
print(str1.format(1))

You miss 100% of the shots you never take. Wayne Gretsky

In [63]:
# 44
str1 = "{0:.0%} of the members of the U.S. Senate are from {1:s}."
print(str1.format(12 / 100, "New England"))

12% of the members of the U.S. Senate are from New England.

In [66]:
# 45
print("{0:.2%} of the UN nations are in {1:s}.".format(43 / 193, "Europe"))

22.28% of the UN nations are in Europe.

In [67]:
# 46
str1 = "The area of {0:s} is {1:.1%} of the area of the U.S."
print(str1.format("Alaska", 663267 / 3794000))

The area of Alaska is 17.5% of the area of the U.S.

In [68]:
# 47
print("{0:s}{1:s}{0:s}".format("abra", "cad"))

abracadabra

In [69]:
# 48
print("When you have {0:s} to {1:s}, {1:s} {0:s}.".format("nothing", "say"))

When you have nothing to say, say nothing.

In [71]:
# 49
str1 = "If {0:s} whenever {1:s}. It is always {1:s}. - Dalai Lama"
print(str1.format("kind", "possible"))

If kind whenever possible. It is always possible. - Dalai Lama

In [72]:
# 50
str1 = "If {0:s} dream it, {0:s} do it. - Walt Disney"
print(str1.format("you can"))

If you can dream it, you can do it. - Walt Disney

Exercises 53 - 58, write a program to carry out the stated task.

In [74]:
# 53 - Server's Tip
bill = float(input("Enter amount of bill: "))
percentage = int(input("Enter percentage of tip: "))
tip = (bill * percentage) /100

print("Tip: ${0:.2f}".format(tip))

Tip: $3.87

In [78]:
# 54 - Income
revenue = int(input("Enter revenue: "))
expenses = int(input("Enter expenses: "))
income = revenue - expenses

print("Net Income: ${0:,.2f}".format(income))

Net Income: $140,000.00

In [85]:
# 55 - Change in Salary
begSalary = int(input("Enter beginning salary: "))
raiseSalary = 1.1 * begSalary
lowSalary = .9 * raiseSalary
percentChange = (lowSalary - begSalary) / begSalary

print("New Salary: ${0:,.2f}".format(lowSalary))
print("Change: {0:.2%}".format(percentChange))

New Salary: $34,650.00
Change: -1.00%

In [86]:
# 56 - Change in Salary
begSalary = int(input("Enter beginning salary: "))
raiseSalary = 1.05 * begSalary
raiseSalary = 1.05 * raiseSalary
raiseSalary = 1.05 * raiseSalary
change = (raiseSalary - begSalary) / begSalary

print("New salary : ${0:,.2f}".format(raiseSalary))
print("Change: {0:.2%}".format(change))

New salary : $40,516.88
Change: 15.76%

In [89]:
# 57 - Future Value
p = int(input("Enter principal: "))
r = int(input("Enter interest rate (as %): "))
n = int(input("Enter number of years: "))
f = p * ((1 + (r / 100)) ** n)

print("Future value : ${0:,.2f}".format(f))

Future value : $1,157.63

In [92]:
# 58 - Present Value
f = int(input("Enter future value: "))
r = int(input("Enter interest rate: "))
n = int(input("Enter number of years: "))
p = f / ((1 + ( r / 100)) ** n)

print("Present value: ${0:,.2f}".format(p))

Present value: $7,903.15