Exercises 1 - 4, determine the output displayed by the lines of code.

In [1]:
# 1
print("Python")

Python

In [2]:
# 2
print("Hello")

Hello

In [3]:
# 3
var = "Ernie"

print(var)

Ernie

In [4]:
# 4
var = "Bert"

print(var)

Bert

Exercises 5 - 46, determine the value of the expression

In [5]:
# 5
print("Python" [4])

o

In [6]:
# 6
print("Python" [-2])

o

In [7]:
# 7
print("Python" [-3])

h

In [8]:
# 8
print("Python" [5])

n

In [9]:
# 9 
print("Python" [0:3])

Pyt

In [10]:
# 10
print("Python" [2:2])

In [11]:
# 11
print("Python" [:2])

Py

In [13]:
# 12
print("Python" [2:])

thon

In [14]:
# 13
print("Python" [-3:-2])

h

In [15]:
# 14
print("Python" [-5:-1])

ytho

In [16]:
# 15
print("Python" [2:-2])

th

In [17]:
# 16
print("Python" [-4:4])

th

In [18]:
# 17
print("Python" [:])

Python

In [19]:
# 18
print("Python" [-10:10])

Python

In [20]:
# 19
print("Python" .find("tho"))

2

In [21]:
# 20
print("Python" .find("ty"))

-1

In [22]:
# 21
print("Python" .find("oh"))

-1

In [23]:
# 22
print("Python" .find("Pyt"))

0

In [24]:
# 23
print("whippersnapper" .rfind("pp"))

10

In [25]:
# 24
print("whippersnapper" .find("pp"))

3

In [26]:
# 25
print("Mississippi" .find("ss"))

2

In [27]:
# 26
print("Mississippi" .rfind("ss"))

5

In [28]:
# 27
print("colonol" .find("k"))

-1

In [29]:
# 28
print("Moscow" .rfind("k"))

-1

In [30]:
# 29
print("Knickknack" .count('k'))

3

In [31]:
# 30
print("brrr" .upper())

BRRR

In [32]:
# 31
print("8 Ball" .lower())

8 ball

In [33]:
# 32
print(len("brrr"))

4

In [34]:
# 33
print("8 Ball" .upper())

8 BALL

In [35]:
# 34
print("whippersnapper" .count("pp"))

2

In [36]:
# 35
print("Python" [3:len("Python")])

hon

In [37]:
# 36
print("Python" .lower())

python

In [39]:
# 37
print("the artist" .title())

The Artist

In [40]:
# 38
print(len("Gravity    " .rstrip()))

7

In [41]:
# 39
print(len("Grand Hotel" [:6] .rstrip()))

5

In [42]:
# 40
print("king lear" .title())

King Lear

In [43]:
# 41
print("let it go" .title() .find('G'))

7

In [44]:
# 42
print("Hello World!" .lower() .find('wo'))

6

In [45]:
# 43
print("Amazon" .lower() .count('a'))

2

In [46]:
# 44
print("Python" .upper() .find("tho"))

-1

In [47]:
# 45
print("King kONG" .title())

King Kong

In [48]:
# 46
print("all clear" .title() .count('a'))

1

Exercises 47 - 72, determine the output displayed by the lines of code.

In [49]:
# 47
a = 4
b = 6
c = "Municipality"
d = "pal"

print(len(c))
print(c.upper())
print(c [a:b] + c [b + 4:])
print(c.find(d))

12
MUNICIPALITY
city
6

In [1]:
# 48
m = 4
n = 3
s = "Microsoft"
t = "soft"
print(len(s))
print(s.lower())
print(s [m:m + 2])
print(s.find(t))

9
microsoft
os
5

In [2]:
# 49
print("f" + "lute")

flute

In [3]:
# 50
print("a" + "cute")

acute

In [4]:
# 51
print("Your age is " + str(21) + ".")

Your age is 21.

In [5]:
# 52
print("Fred has " + str(2) + " children.")

Fred has 2 children.

In [6]:
# 53
r = "A ROSE"
b = " IS "
print(r + b + r + b + r)

A ROSE IS A ROSE IS A ROSE

In [7]:
# 54
sentence = "ALPHONSE TIPPYTOED AWAY."
print(sentence [12:15] + sentence [3:6])

PYTHON

In [8]:
# 55
var = "WALLA"
var += var
print(var)

WALLAWALLA

In [10]:
# 56
str1 = "mur"
str1 += str1
print(str1)

murmur

In [11]:
# 57
str1 = "good"
str1 += "bye"
print(str1)

goodbye

In [12]:
# 58
var = "eight"
var += "h"
print(var)

eighth

In [13]:
# 59
print('M' + ('m' * 6) + '.')

Mmmmmmm.

In [15]:
# 60
print(('*' * 3) + "YES" + ('*' * 3))

***YES***

In [16]:
# 61
print('a' + (" " * 5) + 'b')

a     b

In [17]:
# 62
print("spam" * 4)

spamspamspamspam

In [19]:
# 63
s = "trombones"
n = 76
print(n, s)

76 trombones

In [21]:
# 64
str1 = "5"
num = 0.5 + int(str1)
print(num)

5.5

In [22]:
# 65
num = input("Enter an integer: ")
print('1' + str(num))

17

In [23]:
# 66
num = int(input("Enter an integer: "))
print(1 + num)

8

In [24]:
# 67
num = float(input("Enter a number: "))
print(1 + num)

8.0

In [25]:
# 68
num = eval(input("Enter a number: "))
print(1 + num)

8

In [27]:
# 69
film = "the great gatsby" .title() [:10] .rstrip()
print(film, len(film))

The Great 9

In [28]:
# 70
batmanAndRobin = "THE DYNAMIC DUO" .lower() .title()
print(batmanAndRobin)

The Dynamic Duo

In [30]:
# 71
var = str("Words")
print(var [:-1])

Word

In [31]:
# 72
var = str("Words")
print(var [1:])

ords

Exercises 93 - 96, write a program having one line for each step.

In [39]:
# 93 - Inventor
firstName = "Thomas"
middleName = "Alva"
lastName = "Edison"
yearOfBirth = 1847
print(firstName + " " + middleName + " " + lastName + ', ' + str(yearOfBirth))

Thomas Alva Edison, 1847

In [38]:
# 94 - Price of Ketchup
item = "ketchup"
regularPrice = 1.80
discount = .27
print(str(regularPrice - discount) + " " + item)

1.53 ketchup

In [41]:
# 95 - Copyright Statement
publisher = "Pearson"
print("(c) " + publisher)

(c) Pearson

In [42]:
# 96 - Advice
prefix = "Fore"
print(prefix + "warned is " + prefix + "armed")

Forewarned is Forearmed

Exercises 97 - 112, write a program for the given statements.

In [47]:
# 97 - Distance from a Storm
seconds = float(input("Enter number of seconds between lightning and thunder: "))
miles = seconds / 5
miles = round(miles, 2)

print("Distance from storm: ", miles,  " miles")

Distance from storm:  0.25  miles

In [48]:
# 98 - Training Heart Rate
a = int(input("Enter your age: "))
r = int(input("Enter your resting heart rate: "))
heartRate = (.7 * (220 - a)) + (.3 * r)

print("Training hear rate: ", heartRate, " beats/min.")

Training hear rate:  161.0  beats/min.

In [49]:
# 99 - Triathlon
cycling = int(input("Enter number of hours cycling: "))
running = int(input("Enter number of hours running: "))
swimming = int(input("Enter number of hours swimming: "))
caloriesCycling = 200
caloriesRunning = 475
caloriesSwimming = 275
caloriesPerPound = 3500
caloriesBurned = ((cycling * caloriesCycling) + (running * caloriesRunning) + (swimming * caloriesSwimming)) / caloriesPerPound

print("Weight loss: ", caloriesBurned, " pounds")

Weight loss:  0.6  pounds

In [59]:
# 100 - Cost of Electricity
wattage = int(input("Enter wattage: "))
hours = int(input("Enter number of hours used: "))
kWh = float(input("Enter price per kWh in cents: "))
costOfElectricity = round((wattage * hours) / (1000 * kWh), 2)

print("Cost of electricity: $" + str(costOfElectricity))

Cost of electricity: $6.12

In [58]:
# 101 - Baseball
name = str(input("Enter name of team: "))
won = int(input("Enter number of games won: "))
lost = int(input("Enter number of games lost: "))
percent = round((won / (won + lost)) * 100, 1)

print(name + " won " + str(percent) + "% of their games.")

Yankees won 51.9% of their games.

In [61]:
# 102 - Price-to-Earnings Ratio
earnings = float(input("Enter earnings per share: "))
price = float(input("Enter price per share: "))
ratio = price / earnings

print("Price-to-Earnings ratio: ", ratio)

Price-to-Earnings ratio:  13.0

In [65]:
# 103 - Car Speed
skid = int(input("Enter distance skidded: "))
speed = round((24 * skid) ** .5, 1)

print("Estimated speed: " + str(speed) + " miles per hour")

Estimated speed: 36.0 miles per hour

In [68]:
# 104 - Percentages
percent = (input("Enter percentage: ") [:-1])
percent = int(percent)
decimal = percent / 100

print("Equivalent decimal: ", decimal)

Equivalent decimal:  1.25

In [69]:
# 105 - Convert Speeds
kph = float(input("Enter speed in KPH: "))
miles = round(kph * .6214, 2)

print("Speed in MPH: ", miles)

Speed in MPH:  15.04

In [71]:
# 106 - Server's Tip
bill = float(input("Enter amount of bill: "))
percentage = float(input("Enter percentage tip: "))
percentage = percentage / 100
tip = round(bill * percentage, 2)

print("Tip: $" + str(tip))

Tip: $3.87

In [72]:
# 107 - Equivalent Interest Rates
taxBracket = float(input("Enter tax bracket (as decimal): "))
municipal = float(input("Enter municipal bond interest rate (as %): "))
cd = round(municipal / (1 - taxBracket), 3)

print("Equivalent CD interest rate: " + str(cd) + "%")

Equivalent CD interest rate: 5.175%

In [78]:
# 108 - Marketing Terms
purchase = int(input("Enter purchase price: "))
sell = int(input("Enter selling price: "))
markup = sell - purchase
percentage = (markup / purchase) * 100
profit = round((markup / sell) * 100, 2)

print("Markup: $" + str(markup))
print("Percentage markup: " + str(percentage) + "%")
print("Profit margin: " + str(profit) + "%")

Markup: $430
Percentage markup: 200.0%
Profit margin: 66.67%

In [81]:
# 109 - Analyze a Number
num = input("Enter number: ")
dec = num.find('.')

print(dec, "digits to left of decimal point")
print(len(num) - dec - 1, "digits to right of decimal point")

3 digits to left of decimal point
5 digits to right of decimal point

In [85]:
# 110 - Word Replacement
sentence = input("Enter a sentence: ")
wordReplace = input("Enter word to replace: ")
replaceWord = input("Enter replacement word: ")
spot1 = sentence.find(wordReplace)
len1 = len(wordReplace)
sentence = (sentence [:spot1] + replaceWord + sentence [spot1 + len1:])

print(sentence)

What you don't owe won't hurt you.

In [88]:
# 111 - Convert Months
months = int(input("Enter number of months: "))
years = months // 12
remMonths = months % years

print(str(months) + " months is " + str(years) + " years and " + str(remMonths) + " months.")

234 months is 19 years and 6 months.

In [89]:
# 112
inches = int(input("Enter number of inches: "))
feet = inches // 12
remInches = inches % feet

print(str(inches) + " inches is " + str(feet) + " feet and " + str(remInches) + " inches.")

185 inches is 15 feet and 5 inches.